# Example environment variables for devs
MOCKTAILGPT_API_KEY=sk-xxxxxxxxxxxxxxxxxxxx
MOCKTAILGPT_API_URL=https://api.openai.com/v1
MOCKTAILGPT_PROJECT_ID=mocktailgpt-core
MOCKTAILGPT_MODEL=gpt-4o
MOCKTAILGPT_TEMPERATURE=0.7
